<div class="row impact">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <img class="why_icn img-responsive" src="{{img_url3}}">
        <div class="special-heading textaligncenter default">
            <h5>{{subheading1}}</h5>
        </div>
        <p>more Explanations</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <img class="why_icn img-responsive" src="{{img_url2}}">
        <div class="special-heading textaligncenter default">
            <h5>{{subheading1}}</h5>
        </div>
        <p>even more Explanations</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <img class="why_icn img-responsive" src="{{img_url3}}">
        <div class="special-heading textaligncenter default">
            <h5>{{subheading2}}</h5>
        </div>
        <p> a paragraph explanations</p>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <img class="why_icn img-responsive" src="{{img_url4}}">
        <div class="special-heading textaligncenter default">
            <h5>{{subheading1}}</h5>
        </div>
        <p>A paragraph of explanations</p>
    </div>
</div>